window {
    background-color: #1F1F1F; /* Cambia este código de color al que desees */
}

headerbar {
    background: #303030;
    color: #a5a5a4;
    min-height: 5px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
}

headerbar button {
    color: #A5A5A4;
}

headerbar button:hover{
    color: #D9D9D9;
}

.tittle-label {
    color: #D9D9D9;             
    font-size: 12px;         
    font-weight: bold;        
    /* padding: 5px;  */
    font-family: Arial, sans-serif;  /* Cambia el tipo de letra */
           
}
.tittle-label_{
    color: #A5A5A4;             
    font-size: 12px;         
    font-weight: bold;        
    padding: 5px; 
    font-family: Arial, sans-serif;  /* Cambia el tipo de letra */
}

.btn_item{
    background: #303030;  /* Color de fondo */
    color: #D9D9D9;   
    border: none; /* Eliminar el borde */
    border-radius: 10px; /* Cuanto mayor sea el valor, más redondeado será el botón */
    border: 1.5px solid #303030; /* Borde: grosor, estilo y color */
}
.btn_item:hover {
    background: #636463; /* Color al pasar el mouse */
    border: 1.5px solid #636463; /* Borde: grosor, estilo y color */
}

.btn_item.selected {
    border: 1.5px solid #D9D9D9; /* Borde: grosor, estilo y color */
}

.search-bar {
    color: #A5A5A4;
    border-radius: 8px;
    border: 1.0px solid #303030;
}

.btn_primary {
    background: #303030;
    color: #A5A5A4;
    border-radius: 8px;
}

.btn_primary:hover {
    background: #636463;
    color: #EEEEEC;
}

.projects_container {
    background-color: #353535;  
    border-radius: 8px;
    padding: 10px; 
}

.lista_resultados:hover {
    background: #636463; /* Color al pasar el mouse */
}

.lista_resultados.selected {
    /* background: #636463;  */
    border: 1.5px solid #D9D9D9; /* Borde: grosor, estilo y color */
}

.lista_resultados {
    background: #1F1F1F; /* Color de fondo */
    color: #D9D9D9; /* Color del texto */
    border: none;  /*Borde: grosor, estilo y color */
    border-radius: 8px;
}

.box_result {
    background: #303030; /* Color de fondo */
    border: none;  /*Borde: grosor, estilo y color */
    border-radius: 8px;
}
.label_result {
    color: #D9D9D9;             
    font-size: 12px;         
    font-weight: bold;        
    padding: 5px; 
    font-family: Arial, sans-serif;  /* Cambia el tipo de letra */
}

.imagen_resultado {
    border-radius: 15px; /* Ajusta el valor para cambiar el radio del borde */
    border: 1px solid #4285f4; /* Borde opcional */
}



button.custom-btn{
    background: #353535; 
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
    color: #a5a5a4;
    border: none;
}

button.custom-btn:hover, button.custom-btn:active, button.custom-btn:checked, button.custom-btn:focus{
    background: #454545;                                                       
}


.custom-lb {
    font-size: 15px;
    color: #FFFFFF;                         
}   
       

.active-card {
    background-color: #1f1f1f;
    border-radius:10px;
    padding: 10px;
    color:white;    
}
.inactive-card {
    background-color: #1f1f1f;
    border-radius:10px;
    padding: 10px;
    color:white;    
}
                        
.custom-name-lb {
    color: #ffffff;
    font-size: 16px;

}
                        
.custom-coor-lb {
    color: #ffffff;
    font-size: 16px;           
}

.container_data{
    padding-bottom: 8px;
}


.bg-custom {
    background-color: #1f1f1f;  
}

entry{
    border-radius: 8px;
}